<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SortFilter.Properties.Settings.FirmaConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=c:\Projects\Firma.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>